@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #eae6de; 
	color: #4c4c43;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
}
aside{
	float: left;

}
#logospecial {
	text-align: center;
	margin: 0px 80px 20px 80px;
	width: 250px;
}
#slogan{
	font-size: 1.1em;
	padding: 5px 0px;
}
#menu {
	color: #5b2c12;
	font-size: .9em;
	line-height: 2;
	padding:15px 0px;
}
#menu a {
	text-decoration: none;
	color: #4b4747;
	background-color: #eaceaa;
	padding:5px 30px; 
	margin-top: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	border-radius: 8px;

}
#reviews {
	text-align: left;
	font-size: .9em;
	margin: 0px 80px; 
	width: 250px;
	line-height: 1.8;
	padding: 10px;
}
#right{
	position: relative;
	float: right;
}

#booking a{
	text-align: center;
	padding: 15px 50px;
	font-size: 1.5em;
	background-color: #eaceaa;
	text-decoration: none;
	color: #4b4747;
	margin: 150px, 300px;
	font-family: 'PT Sans', sans-serif;
	border-radius: 10px;
}
#booking{
	text-align: center;
	margin-top: 50px;
}
h1 {
	font-size: 2.5em;
	line-height: 1em;
	color: #b88e0e;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif; 
	padding: 5px 0px;
}
em {
	font-weight: bold;
	font-size: 1.1em;
}
nav {
	text-align: right;
	margin: 15px;
	
}
nav a {
	color: black;
	text-decoration: none;
	margin: 1em;
	padding: 1em;
}