@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700);

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);


body {
	background-color: #eae6de; 
	color: #4c4c43;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5em;
	margin:0;
}

#logospecial {
	line-height: 1.5em;
	text-align: center;
	margin-left: 80px;
	padding: 0px 20px 0px 20px;
	width: 250px;
}

#reviews {
	line-height: 1.5em;
	text-align: left;
	font-size: 1em;
	font-weight: 100;
	margin-left: 80px;
	padding: 0px 20px 0px 20px;
	width: 250px;
	font-family: 'Indie Flower', cursive;
	border-style: solid;
	border-width: thin;
	line-height: 1.2em;
}

#left{
	float: left;
}

#slogan{
	font-family: 'Lobster Two', cursive;
	font-size: 1.2em;
	font-weight: normal;
}

#right{
	width: 1000px;
	position: relative;
	float: right;
}

#booking{
	text-align: center;
	padding: 50px 0px 50px 0px;
	font-family: 'Montserrat Subrayada', sans-serif;
	color: #a71a10;
	font-size: 2em;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	color: #b88e0e;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif; 
}

h2 {
	font-size: 1em;
	font-family: 'PT Sans', sans-serif; 
}

h3 {
	font-size: 1.5;
}

#special {
	color: #5b2c12;
	font-size: 0.8em;
}

em {
	font-weight: bold;
	font-size: 1.1em;
}

nav {
	text-align: right;
	margin: 15px;
	
}

nav a {
	color: black;
	text-decoration: none;
     }

